*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
.header nav.navbar.navbar-expand-lg
{
    background-color: #798645;
    padding: 20px;
    box-shadow: 2px 2px 5px;
}

.header a.navbar-brand
{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

.header a.nav-link
{
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
.header li.nav-item
{
    padding:0 10px
}
.login a
{
    text-decoration: none;
    background-color: #EBD3F8;
    color: #000;
    padding: 10px 30px;
    border-radius: 15px;
}
.login{
    padding-top: 10px;
}
.hero-section {
    background:  linear-gradient(#000000c4, #000000c4), url(./images/campus.jpg) no-repeat center center/cover;
    height: 100vh;
}
.hero-section .hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-section .hero-content p {
    font-size: 1.5rem;
}
.About
{
    background-color: #FEFAE0;
}
.content h1
{
    font-size: 50px;
}
.content p
{
    font-size: 18px;
}
.contentimg img
{
    border-radius: 20px;
    border: 3px solid #000;
}
.facility-box img {
    width: 200px;
    height: 200px;
}

.facility-box {
    margin-top: 20px;
}
.card-img-top {
    height: 200px;
    object-fit: cover;
}
footer p {
    margin: 0;
}
header {
    text-align: center;
    padding: 2rem;
    background-color: #0056b3;
    color: white;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    padding: 2rem;
    margin: 0 auto;
}
.gallery-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}  
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.gallery-item img:hover {
    transform: scale(1.1    );
}
  

.aoutbanner
{
    width: 100%;
    height: 100vh;
    background-image: url(./images/campus.jpg);
}
.about_content {
    HEIGHT: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mymap iframe
{
    width: 100%;
}